
body {
    height: 100%
    margin: 0;
    padding: 0;

    background: radial-gradient(circle at top left, #000010, #020024, #090979, #000);

    font-family: 'Orbitron', sans-serif;
    color: white;
}

.container {
    background-color: rgba(10, 10, 20, 0.9);
    border-radius: 8px;
    padding: 40px 50px;
    text-align: center;
    box-shadow: 0 0 25px rgba(100, 0, 255, 0.5);
    width: 25%;
    margin: 0 auto;
}


.logo {
    width: 220px;
    margin-bottom: 25px;
}

.btn {
    flex: 1;
    padding: 12px;
    border: none;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
    text-transform: uppercase;
    background-color: #7a1cf0;
    color: white;
    text-decoration : none
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding : 10px
}

.btn:hover {
    background-color: #9b32ff;
    box-shadow: 0 0 10px #7a1cf0;
}

input {
    width: 100%;
    padding: 12px;
    background: #0b0b1a;
    border: 2px solid #20204a;
    color: white;
    font-size: 14px;
    border-radius: 4px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}